.contact{
    background-color:white;
    display:flex;
    .left{
        
        flex:1;

        img{
            height:99%;
            overflow:hidden;
        }
    }
    .right{ 
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;

        h2{
            font-size: 30px;
        }
        .social-media{
            height:auto;
            padding:2px;
            display:flex;
        }
        form{
            width:70%;
            height:70%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input{
                width:300px;
                height:30px;
                font-size: 14px;
                margin-bottom: 8px;
            }

            textarea{
                width:300px;
                height:200px;
                font-size: 14px;
                margin-bottom: 8px;
            }

            button{
                width:150px;
                height:30px;
                color:white;
                background-color:crimson;
                border:none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
            }
            span{
                color:green;
            }
        }



    }
}